body {
  background-color: #fffef8;
  margin: 0;
  max-width: none;
}

a {
  text-decoration: none;
}

header {
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.identifier {
  margin: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id,
.password {
  display: flex;
  flex-direction: column;
}

.id label,
.password label {
  padding-bottom: 10px;
  color: #3d3d3d;
  font-family: "Work Sans", sans-serif; /* à revoir */
  font-size: 14px;
  font-weight: 500;
}

.p-password {
  margin-top: 30px;
}

input {
  border: none;
  width: 379px;
  height: 51px;
  background-color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: #3d3d3d;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
input:focus {
  outline: none; /* Supprime le contour */
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.error-connection {
  color: red;
  margin-bottom: 30px;
}
.hidden {
  display: none;
}

.connection-btn {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  width: 180px;
  height: 36px;
  text-align: center;
  border: none;
  border-radius: 60px;
}
.connection-btn:active {
  background-color: #0e2f28;
}

.p-forgot-password {
  text-decoration: underline;
  color: #3d3d3d;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 300px;
}

footer {
  background-color: white;
  position: absolute;
  max-width: none;
  margin: 0;
  width: 100%;
}
