/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}

.mode-edit {
  height: 59px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hidden {
  display: none;
}

.mode-edit i {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  margin: 50px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin-top: 10px;
  width: 138px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav a {
  text-decoration: none; /* ajout style */
  color: black;
}
nav a:hover {
  font-weight: 700;
}

.login-btn {
  border: none;
  background: none;
  font-size: 16px;
  all: unset;
  cursor: pointer;
}
.login-btn:hover {
  font-weight: 700;
}

li img {
  width: 17px;
  height: 17px;
  display: flex;
}
li:hover {
  font-weight: 700;
}

#introduction {
  display: flex;
  align-items: center;
  gap: 72px;
  width: 75%;
  margin: auto;
  margin-top: 100px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  width: 474px;
  height: 355px;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.h2-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
  gap: 10px;
}

.btn-edit {
  background-color: #fffef8;
  border: none;
  cursor: pointer;
}
.btn-edit i {
  color: black;
  margin-right: 5px;
  width: 15.58px;
  height: 15.58px;
}

.btn-edit a {
  text-decoration: none;
  color: inherit;
}

/* style modale 1 */
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.hidden-modal {
  display: none;
}

.modal-wrapper {
  position: relative;
  width: 530px;
  height: 688px;
  max-width: calc(100vw - 50px);
  max-height: calc(100vh - 50px);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  overflow: auto;
}

.close-modal {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 92%;
  width: 24px;
  height: 24px;
}
.close-modal i {
  font-size: 20px;
}
.content-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.title-modal {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.gallery-modal {
  width: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.gallery-modal img {
  width: 100%;
}
.separation {
  border: 1px solid #b3b3b3;
  width: 420px;
}
.add-photo {
  width: 237px;
  height: 36px;
  border: none;
  border-radius: 60px;
  background-color: #1d6154;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-photo:active {
  background-color: #0e2f28;
}

/* style modale 2*/
.content-upload-img {
  width: 420px;
  height: 169px;
  background-color: #e8f1f6;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-back-modal {
  border: none;
  background: none;
  cursor: pointer;
}
.btn-back-modal i {
  font-size: 21px;
}
.content-upload-img {
  z-index: 0;
  position: relative;
}
.block-upload-img {
  height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content-upload-img i {
  font-size: 70px;
  text-align: center;
  color: #b9c5cc;
}
.btn-upload-img {
  width: 173px;
  height: 36px;
  border: none;
  background-color: #cbd6dc;
  border-radius: 50px;
  color: #306685;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preview-img {
  display: none;
  width: 129px;
  height: 169px;
  z-index: 1;
  position: absolute;
  top: 140px;
  right: 210px;
}
.content-upload-img p {
  font-size: 10px;
  font-weight: 400;
  color: #444444;
}
/* style inputs modale 2 */
.form-upload-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.inputs-upload-img {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputs-upload-img input,
select {
  border: none;
  width: 420px;
  height: 51px;
  background-color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: #3d3d3d;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}
.inputs-upload-img input:focus,
select:focus {
  outline: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}
#title-category {
  margin-top: 20px;
}

#separation {
  margin-top: 10px;
  margin-bottom: 10px;
}

#btn-validate {
  border: none;
  width: 273px;
  height: 36px;
  border-radius: 60px;
  background-color: #1d6154;
  margin-bottom: 30px;
  cursor: pointer;
  color: white;
}
#btn-validate:disabled {
  background-color: #a7a7a7;
}
#btn-validate:active:enabled {
  background-color: #0e2f28;
}

#portfolio {
  width: 75%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 80px;
}
#portfolio h2 {
  text-align: center;
}

/* ajout filtres */
.filters {
  width: 585px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: auto;
}
.hidden {
  display: none;
}

.filters button {
  border: 1px solid #1d6154;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  background: none;
  color: #1d6154;
}

.filters button:hover {
  color: white;
  background-color: #1d6154;
}
.filters button:active {
  background-color: #0e2f28;
}
.filters button:focus {
  color: white;
  background-color: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 40px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

#contact input[type="submit"]:active {
  background-color: #0e2f28;
}

footer {
  height: 60px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2em;
}
